<nav class="flex w-full justify-center">
  <div>

    {% if page.extra.number > 1 %}
      {% set strnumber = page.extra.number - 1  | as_str %}
      {% set link = 'lecon' ~ strnumber %}
      <a class="link" href="{{ get_url(path=link) }}">précédent</a> -
    {% endif %}

    <a class="link" href="{{ get_url(path='') }}">sommaire</a>

    {% if page.extra.number < 17 %}
      {% set strnumber = page.extra.number + 1  | as_str %}
      {% set link = 'lecon' ~ strnumber %}
      - <a class="link" href="{{ get_url(path=link) }}">suivant</a>
    {% endif %}

  </div>

</nav>
